@{
	ViewBag.Model = new BugReportViewModel();
}
<html lang="nl">
<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8">
	<link href="@Url.Content("~/Content/reporter.css")" type="text/css" rel="stylesheet">
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="~/Scripts/hyphenator.js" type="text/javascript"></script>
	<script src="~/Scripts/bug-report.js" type="text/javascript"></script>
	@RenderSection("Scripts", required: false)
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
		@Html.Partial("~/Views/Report/_partialBugReport.cshtml")
    <header id="header">
        <h1>Melden + Leerpark</h1>
    </header>
		<script src="~/Scripts/header-resizer.js" type="text/javascript"></script>
    @RenderBody()
		@RenderSection("WeaponScript", required: false)
</body>
</html>