@{
	ViewBag.Model = new BugReportViewModel();
}
<html lang="nl">
<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8">
	@Styles.Render("~/bundles/styles")
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script>
		if (!window.jQuery) {
			document.write('<script src="/Scripts/jquery-1.11.2.min.js"><\/script>');
		}
	</script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript">
		function resizeIframe(obj) {
			{ obj.style.height = 0; };
			{ obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px'; }
		}
	</script>
</head>
<body>
	@Html.Partial("~/Views/Report/_partialBugReport.cshtml")
	<header id="header">
		<h1>Melden + Leerpark</h1>
	</header>
	@RenderBody()
	
	@Scripts.Render("~/bundles/scripts")

	@RenderSection("Scripts", required: false)
</body>
</html>