@model OriginalReport
@{
    ViewBag.Title = "Voortuig";
}

<div class="center-box">
    <div class="row">
        <div class="col-xs-12">
            <h2>Voortuigen</h2>


            @using (Html.BeginForm("Vehicle"))
            {
                @Html.ValidationSummary();
                @Html.AntiForgeryToken();

                <div class="form-group">
                    @Html.LabelFor(b => b.Building, new { @class = "col-xs-12" })
                    <div class="col-xs-12">
                        @Html.DropDownList("buildings", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(o => o.Location, new { @class = "col-xs-12" })
                    <div class="col-xs-12">
                        @Html.TextBoxFor(o => o.Location, true, htmlAttributes: new { @required = "required", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(o => o.Description, new { @class = "col-xs-12" })
                    <div class="col-xs-12">
                        @Html.TextAreaFor(o => o.Description, true, htmlAttributes: new { @required = "required", @class = "form-control", @rows = "3" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <br />
                        <input type="submit" name="nextBtn" value="Volgende" class="btn btn-default btn-report" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
