@model PasswordViewModel
@{
    ViewBag.Title = "Wachtwoord wijzigen";
}

@using (Html.BeginForm())
{
	<div class="field">
		@Html.LabelFor(m => m.Username)
		@Html.HiddenFor(m => m.Id)
		@Html.TextBoxFor(m => m.Username, new {disabled = "disabled"})
	</div>
	<div class="field">
		<label></label>
		@Html.ValidationMessageFor(m => m.NewPassword)
	</div>
	<div class="field">
		@Html.LabelFor(m => m.NewPassword)
		@Html.PasswordFor(m => m.NewPassword)
	</div>
	<div class="field">
		@Html.LabelFor(m => m.NewPasswordRepeat)
		@Html.PasswordFor(m => m.NewPasswordRepeat)
	</div>
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")"/></button>
	</div>
}