@model PasswordViewModel
@{
    ViewBag.Title = "Wachtwoord wijzigen";
}

@using (Html.BeginForm())
{
	<fieldset>
		<legend>@DisplayNames.UserName</legend>
		@Html.HiddenFor(m => m.Id)
		@Html.TextBoxFor(m => m.Username, new {disabled = "disabled"})
	</fieldset>
	<fieldset>
		<legend>@DisplayNames.NewPassword</legend>
		@Html.PasswordFor(m => m.NewPassword)
	</fieldset>
	<fieldset>
		<legend>@DisplayNames.RepeatNewPassword</legend>
		@Html.PasswordFor(m => m.NewPasswordRepeat)
	</fieldset>
	<button type="submit"><img src="@Url.Content("~/Content/next.svg")"/></button>
}