@model IEnumerable<User>
@{
	ViewBag.Title = "Gebruikers";
}
<div class="container">
    <div class="field">
        <label class="titlebar">Wachtwoorden wijzigen</label>
        <table class="changepassword">
            <thead>
                <tr>
                    <th><i class="fa fa-edit"></i></th>
                    <th>@DisplayNames.UserName</th>
                    <th>@DisplayNames.Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td class="changepassword">@Html.ActionLink("Wijzigen", "EditPassword", new { id = user.Id, userName = user.UserName }) </td>
                        <td>@user.UserName</td>
                        <td>@user.Role</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="field backbutton">
        <i class="fa fa-arrow-left"></i>
        @Html.ActionLink("Terug", "Index", "Dashboard")
    </div>
</div>