@model IEnumerable<User>
@{
	ViewBag.Title = "Gebruikers";
	ViewBag.Back = @Url.Action("Index", "Dashboard");
}
<div class="container">
	<fieldset>
		<legend>Wachtwoorden wijzigen</legend>
		<table class="passwordtable">
			<thead>
				<tr>
					<th>@DisplayNames.UserName</th>
					<th>@DisplayNames.Role</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var user in Model)
				{
					<tr>
						<td>@user.UserName</td>
						<td>
						@if(user.Role == "DashboardUser")
						{
								<text>Dashboard-gebruiker</text>
						}
						else
						{
								@user.Role
						}
						</td>
						<td class="changepassword">@Html.ActionLink("Wijzigen", "EditPassword", new { id = user.Id, userName = user.UserName }) </td>
					</tr>
				}
			</tbody>
		</table>
	</fieldset>
	<input type="button" value="Terug" onclick="location.href='@ViewBag.Back'" />
</div>