@model LoginModel
@{
	ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
	<div class="field">
		@Html.LabelFor(m => m.UserName)
		@Html.TextBoxFor(m => m.UserName)
	</div>
	<div class="field">
		@Html.LabelFor(m => m.Password)
		@Html.PasswordFor(m => m.Password)
		@Html.ValidationMessageFor(m => m.Password)
	</div>
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")"/></button>
	</div>
}