@model BullyingViewModel

@{
	ViewBag.Title = "Bullying";
}

@using (Html.BeginForm())
{
	<p>
		@Html.LabelFor(m => m.Description)
		@Html.TextBoxFor(m => m.Description)
	</p>
	<p>
		@Html.LabelFor(m => m.Victim)
		@Html.TextBoxFor(m => m.Victim)
	</p>
    <p>
        @Html.Label("Heeft u nog informatie over de verdachte?")
        @Html.CheckBox("Perpetrator")
    </p>
    <p>
        @Html.Label("Heeft u nog informatie over het slachtoffer?")
        @Html.CheckBox("Victim")
    </p>
	<input type="submit" value="Verzenden" />
}
