@model BullyingViewModel

@{
	ViewBag.Title = Categories.Bullying;
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
   <p>
		@Html.LabelFor(m => m.VictimName)
		@Html.TextBoxFor(m => m.VictimName)
	</p>
    <p>
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
    </p>
    <p>
        @Html.Label("Heeft u nog informatie over de verdachte?")
        @Html.CheckBoxFor(m => m.HasPerpetrator)
    </p>
    <p>
        @Html.Label("Heeft u nog informatie over het slachtoffer?")
        @Html.CheckBoxFor(m => m.HasVictim)
    </p>
	<input type="submit" value="Verzenden" />
}
