@model BullyingViewModel

@{
	ViewBag.Title = Categories.Bullying;
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
	<p>
		@Html.LabelFor(m => m.Description)
		@Html.TextBoxFor(m => m.Description)*
	</p>
	<p>
		@Html.LabelFor(m => m.Victim)
		@Html.TextBoxFor(m => m.Victim)*
	</p>
	<input type="submit" value="Verzenden"/>
	<text>*verplicht veld</text>
}