@model BullyingViewModel

@{
	ViewBag.Title = "Bullying";
}

@using (Html.BeginForm())
{
	<p>
		@Html.LabelFor(m => m.Description)
		@Html.TextBoxFor(m => m.Description)
	</p>
	<p>
		@Html.LabelFor(m => m.Victim)
		@Html.TextBoxFor(m => m.Victim)
	</p>
    <dl>
        <dd>
            Heeft u nog informatie over de verdachte?
            @Html.CheckBox("Perpetrator")
        </dd>
        <dd>
            Heeft u nog informatie over het slachtoffer?
            @Html.CheckBox("Victim")
        </dd>
    </dl>
	<input type="submit" value="Verzenden" />
}
