@model ContactViewModel

@{
	ViewBag.Title = "Contact";
}
@using (Html.BeginForm())
{
	<div class="field">
		<label></label>
		<p>@PageItems.ContactDescription</p>
	</div>
	<div class="field">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name)
	</div>
	<div class="field">
		@Html.LabelFor(m => m.PhoneNumber)
		@Html.TextBoxFor(m => m.PhoneNumber)
	</div>
	<div class="field">
		@Html.LabelFor(m => m.EmailAddress)
		@Html.TextBoxFor(m => m.EmailAddress)
	</div>
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")" /></button>
	</div>
}