@model ContactRequiredViewModel

@{
	ViewBag.Title = DisplayNames.ContactRequired;
}
@using (Html.BeginForm())
{
	<div class="field">
		<label>@DisplayNames.Name&#42;</label>
		@Html.TextBoxFor(m => m.Name)
	</div>
	<div class="field">
		<label>@DisplayNames.PhoneNumber&#42;</label>
		@Html.TextBoxFor(m => m.PhoneNumber)
	</div>
	<div class="field">
		<label>@DisplayNames.EmailAddress&#42;</label>
		@Html.TextBoxFor(m => m.EmailAddress)
	</div>
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")"/></button>
		<span class="floatLeft">*verplichte velden</span>
	</div>
}