@model ContactViewModel

@{
    ViewBag.Title = "Contact";
}

    <h2>Contact</h2>

    @using (Html.BeginForm())
    {
        // Temporarily with validation summary while we test it
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <p>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.TextBoxFor(m => m.PhoneNumber)
        </p>
        <p>
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress)
        </p>
        <input type="submit" value="Verzenden" />
    }