@model Report
@using perpetratorResource = Resources.Perpetrator

<h1 class="doneTitle">Melding</h1>
<dl>
	<dt>@PageItems.TypeDescription</dt>
	<dd>@Categories.ResourceManager.GetString(Model.Category)</dd>

	<dt>@PageItems.LocationDescription</dt>
	<dd>@Model.Location.Building - @Model.Location.Description</dd>

	@Html.Partial("~/Views/Dashboard/CategoryPartials/_PartialDetails" + Model.Category + ".cshtml", Model)
</dl>
@* TODO: Find a better solution than this, as it makes and empty Contact.*@

@if (Model.Perpetrator != null)
{
	<br />
	<h2>@perpetratorResource.Perpetrators</h2>
	<dl>
		<dt>@perpetratorResource.Name</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Perpetrator.Name)</dd>

		<dt>@perpetratorResource.Sex</dt>
		<dd>@DashboardHelpers.NullCheck(Sex.ResourceManager.GetString(Model.Perpetrator.Sex.ToString()))</dd>

		<dt>@perpetratorResource.SkinColor</dt>
		<dd>@DashboardHelpers.NullCheck(SkinColor.ResourceManager.GetString(Model.Perpetrator.SkinColor.ToString()))</dd>

		<dt>@perpetratorResource.Clothing</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Perpetrator.Clothing)</dd>

		<dt>@perpetratorResource.MinAge</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Perpetrator.MinimumAge)</dd>

		<dt>@perpetratorResource.MaxAge</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Perpetrator.MaximumAge)</dd>

		<dt>@perpetratorResource.UniqueProp</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Perpetrator.UniqueProperties)</dd>
	</dl>
}

@if (Model.Contact != null)
{
	<br/>
	<h2>@PageItems.Contact</h2>
	<dl>
		<dt>@PageItems.ContactName</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Contact.Name)</dd>
		<dt>@PageItems.ContactPhoneNumber</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Contact.PhoneNumber)</dd>

		<dt>@PageItems.ContactEmail</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Contact.EmailAddress)</dd>
	</dl>
}

@if (Model.Vehicle != null)
{
	<h2>@ReportProperties.Vehicle</h2>
	<dl>
		<dt>@ReportProperties.VehicleBrand</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Vehicle.Brand)</dd>
		<dt>@ReportProperties.VehicleColor</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Vehicle.Color)</dd>
		<dt>@ReportProperties.VehicleNumberPlate</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Vehicle.NumberPlate)</dd>
		<dt>@ReportProperties.VehicleAdditionalFeatures</dt>
		<dd>@DashboardHelpers.NullCheck(Model.Vehicle.AdditionalFeatures)</dd>
	</dl>
}

<hr/>
<a href="/Report/Redirect">
	Ga verder
</a>
