@model DoneViewModel

@using (Html.BeginForm())
{
	<fieldset>
		<legend>@PageItems.DoneMessage</legend>
		<p class="summary">
			@if (Model.Category == "FirstAid" || Model.Category == "Fight")
			{
				<text>
					Hulp is onderweg. Indien nodig kun je hieronder je melding aanpassen.
				</text>
			}
			else
			{
				<text>
					We nemen je melding van @Categories.ResourceManager.GetString(Model.Category) zo snel mogelijk in behandeling. Indien nodig kun je hieronder je melding nog wijzigen.
				</text>
			}
		</p>
	</fieldset>

	if (Model.Category != null)
	{
		<fieldset class="summary">
			<legend>@DisplayNames.Index</legend>
			<p>@Categories.ResourceManager.GetString(Model.Category)</p>
		</fieldset>
	}
	<fieldset class="summary">
		<legend>@PageItems.Location </legend>
		<p>
			@{
				var prePosition = Buildings.ResourceManager.GetString(String.Format("{0}_Preposition", Model.Location.Building));
				prePosition = Char.ToUpper(prePosition[0]) + prePosition.Substring(1);
			}
			@prePosition
			@Buildings.ResourceManager.GetString(Model.Location.Building)
			- @Model.Location.Description
		</p>
	</fieldset>
		
	@Html.Partial("~/Views/Shared/Partials/Done/" + Model.Category + ".cshtml", Model)

	if (Model.Contact != null)
	{
		@Html.Partial("~/Views/Shared/Partials/Done/Contact.cshtml", Model.Contact);
	}
	<input type="hidden" name="category" value="@Model.Category" />
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")" /></button>
	</div>
}