@model Report


<div class="container">
@using (Html.BeginForm())
{
	if (Model.Category != null)
	{
		@Html.Partial("~/Views/Report/ReportPartials/_PartialReturnReportCategory.cshtml", Model)
	@Html.Partial("~/Views/Report/CategoryPartials/_PartialDetails" + Model.Category + ".cshtml", Model)
		}
	if (Model.Location != null)
	{
	@Html.Partial("~/Views/Report/ReportPartials/_PartialReturnReportLocation.cshtml", Model)
	}
		
	if (Model.Perpetrator != null)
	{
			@Html.Partial("~/Views/Report/ReportPartials/_PartialReturnReportPerpetrator.cshtml", Model);
	}

	if (Model.Contact != null)
	{
			@Html.Partial("~/Views/Report/ReportPartials/_PartialReturnReportContact.cshtml", Model);	
	}	
	if (Model.Vehicle != null)
	{
			@Html.Partial("~/Views/Report/ReportPartials/_PartialReturnReportVehicle.cshtml", Model);		
	}
	<input type="hidden" name="category" value="@Model.Category" />
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")" /></button>
	</div>
}
</div>