@model Report


@using (Html.BeginForm())
{
	<div class="field">
		<label>&nbsp;</label>
		<p>@Resources.PageItems.DoneMessage <br />Heeft u een fout gemaakt? <a href="~/Report/EditDone">Klik dan hier om uw melding te weizigen</a>.</p>
	</div>

	if (Model.Category != null)
	{
		@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportCategory.cshtml", Model)
		@Html.Partial("~/Views/Shared/Partials/Details/_PartialDetails" + Model.Category + ".cshtml", Model)
	}
	if (Model.Location != null)
	{
		@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportLocation.cshtml", Model)
	}

	if (Model.Perpetrator != null)
	{
			@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportPerpetrator.cshtml", Model);
	}

	if (Model.Contact != null)
	{
			@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportContact.cshtml", Model);
	}
	if (Model.Vehicle != null)
	{
			@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportVehicle.cshtml", Model);
	}
	<input type="hidden" name="category" value="@Model.Category" />
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")" /></button>
	</div>
}