@model Report

@using (Html.BeginForm())
{
		<fieldset>
			<legend>@PageItems.DoneMessage</legend>
			<p class="summary">
				@if (Model.Category == "FirstAid" || Model.Category == "Fight")
				{
					<text>
						Hulp is onderweg. Indien nodig kun je hieronder je melding aanpassen.
					</text>
				}
				else
				{
					<text>
						We nemen je melding van @Categories.ResourceManager.GetString(Model.Category) zo snel mogelijk in behandeling. Indien nodig kun je hieronder je melding nog wijzigen.
					</text>
				}
			</p>
		</fieldset>

	if (Model.Category != null)
	{
		if (Model.Location != null)
		{
			@Html.Partial("~/Views/Shared/Partials/Done/_PartialDoneLocation.cshtml", Model)
		}

		<fieldset class="summary">
			<legend>Wat heb je gezien?</legend>
			<select>
				<option>@Model.Category</option>
			</select>
		</fieldset>

		@Html.Partial("~/Views/Shared/Partials/Done/_PartialDone" + Model.Category + ".cshtml", Model)
	}

	if (Model.Perpetrators != null)
	{
		@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportPerpetrators.cshtml", Model);
	}

	if (Model.Contact != null)
	{
		@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportContact.cshtml", Model);
	}
	if (Model.Vehicles != null)
	{
		@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportVehicles.cshtml", Model);
	}
	<input type="hidden" name="category" value="@Model.Category" />
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")" /></button>
	</div>
}