@model DrugsViewModel

@{
	ViewBag.Title = Categories.Drugs;
}

@using (Html.BeginForm())
{
	<div class="field radioButton">
		@Html.LabelFor(m => m.Action)
		<ul class="radioList">
			<li>
				@Html.RadioButtonFor(m => m.Action, "Using")<label class="radio">Er wordt drugs gebruikt.</label>
			</li>
			<li>
				@Html.RadioButtonFor(m => m.Action, "Dealing")<label class="radio">Er wordt drugs gedeald.</label>
			</li>
		</ul>

	</div>
	<div class="field">
		@Html.LabelFor(m => m.Description)
		@Html.TextBoxFor(m => m.Description)
	</div>
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")" /></button>
		<text><span class="floatLeft">*verplichte velden</span></text>
	</div>
}