@model DrugsViewModel

@{
    ViewBag.Title = Categories.Drugs;
    Layout = "~/Views/Shared/_LayoutLoadedInFrame.cshtml";
}

@section Scripts{
	<script src="~/Scripts/pop-up.js"></script>
}

@using (Html.BeginForm())
{
	<fieldset>
		<legend>@DisplayNames.DrugsAction</legend>
		@Html.DropDownListFor(m => m.Action, Model.DrugsActions)
		@Html.ValidationMessageFor(m => m.Action)
	</fieldset>
	@Html.Partial("~/Views/Report/PopUpPartials/Perpetrator.cshtml", new PerpetratorViewModel())
	@Html.Partial("~/Views/Report/PopUpPartials/Vehicle.cshtml", new VehicleViewModel())
	@Html.HiddenFor(m => m.Vehicles)
	@Html.HiddenFor(m => m.Perpetrators)
	<fieldset>
		<legend>@DisplayNames.Description</legend>
		@Html.TextAreaFor(m => m.Description)
	</fieldset>
	<button type="submit"><img src="@Url.Content("~/Content/next.svg")" /></button>
}
<div class="overlay"></div>