@model Report	
@{
	ViewBag.Title = "Bedankt";
}
<script>
    function close_window() {
        if (confirm("Close Window?")) {
            close();
        }
    }
</script>
<form>
	<div class="field">
		<label></label>
		<p class="noBorder">Dank u voor uw melding.</p>
	</div>
	<div class="grayLayer">
		@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportCategory.cshtml", Model)
		@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportLocation.cshtml", Model)
		@Html.Partial("~/Views/Shared/Partials/Details/_PartialDetails" + Model.Category + ".cshtml", Model)
		@if (Model.Perpetrator != null)
				{
					@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportPerpetrator.cshtml", Model);
								}

		@if (Model.Contact != null)
				{
					@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportContact.cshtml", Model);
								}
		@if (Model.Vehicle != null)
				{
					@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportVehicle.cshtml", Model);
								}
	</div>
    <div class="button-container endButtons"><a href="#" onclick="close_window();return false;">Meld nog een incident</a></div>
    <div class="button-container endButtons">@Html.ActionLink("terug naar start", "index", "Report")</div>
</form>