@model FightViewModel

@{
    ViewBag.Title = Categories.Fight;
    Layout = "~/Views/Shared/_LayoutLoadedInFrame.cshtml";
}
@using (Html.BeginForm())
{
	<fieldset>
		<legend>@DisplayNames.FightCount</legend>
		@Html.TextBoxFor(m => m.FighterCount, new { @type = "number", @min = 2, Value = 2 })
		<span class="required">verplicht veld</span>
	</fieldset>
	<fieldset>
		<legend>@DisplayNames.FightWeapon</legend>
		@Html.DropDownListFor(m => m.IsWeaponPresent, Model.WeaponPresent)
		@Html.ValidationMessageFor(m => m.IsWeaponPresent)
	</fieldset>
	<fieldset>
		<legend>@DisplayNames.Description</legend>
		@Html.TextAreaFor(m => m.Description)
	</fieldset>
	<button type="submit"><img src="@Url.Content("~/Content/next.svg")"/></button>
}