@model FightViewModel

@{
	ViewBag.Title = Categories.Fight;
}
@using (Html.BeginForm())
{
	<div class="field">
		@Html.LabelFor(m => m.FighterCount)
		@Html.TextBoxFor(m => m.FighterCount, new { @type = "number", @min = 2, Value = 2 })
	</div>
	<div class="field">
		@* TODO: figure out a way to make this checkbox look clearer *@
		@Html.LabelFor(m => m.IsWeaponPresent)

		<div class="radioButtonDivider">
			@Html.RadioButtonFor(m => m.IsWeaponPresent, true) Ja
			@Html.RadioButtonFor(m => m.IsWeaponPresent, false, new { @checked = false }) Nee
		</div>
	</div>
	<div class="field">
		@Html.LabelFor(m => m.Description)
		@Html.TextAreaFor(m => m.Description, new {@class = "DescriptionBox"})
	</div>
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")"/></button>
		<span class="floatLeft">* verplichte velden</span>
	</div>
}