@model FightViewModel

@{
	ViewBag.Title = Categories.Fight;
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
	<p>
		@Html.LabelFor(m => m.FighterCount)
		@Html.TextBoxFor(m => m.FighterCount, new { @type = "number" })*
	</p>
	<p>
		@Html.LabelFor(m => m.IsWeaponPresent)
		@Html.CheckBoxFor(m => m.IsWeaponPresent)
	</p>
	<p>
		@Html.LabelFor(m => m.Description)<br />
		@Html.TextAreaFor(m => m.Description, new {@class="DescriptionBox"})
	</p>
	<input type="submit" value="Verzenden"/>
	<text>*verplicht veld</text>
}