@model Report
@if (Model.Category == "Theft")
{
	ViewBag.Title = "Police";
}
else
{
	ViewBag.Title = "Help";
}

<form>
	<div class="field">
		<label></label>
		@if (Model.Category == "Theft")
		{
			<p class="noBorder">Wij nemen zo snel mogelijk contact met u op.</p>
		}
		else
		{
			<p class="noBorder">Wij zullen actie ondernemen. Verder kan je nog hulp zoeken bij de volgende personen:<br /> Je mentor, je vertrouwenspersoon, of de landelijke hulplijn (Tel: 0900-0101).</p>
		}
	</div>
	<div class="grayLayer">
		@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportCategory.cshtml", Model)
		@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportLocation.cshtml", Model)
		@Html.Partial("~/Views/Shared/Partials/Details/_PartialDetails" + Model.Category + ".cshtml", Model)
		@if (Model.Perpetrators != null)
		{
			@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportPerpetrators.cshtml", Model);
		}

		@if (Model.Contact != null)
		{
			@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportContact.cshtml", Model);
		}
		@if (Model.Vehicles != null)
		{
			@Html.Partial("~/Views/Shared/Partials/Report/_PartialReturnReportVehicles.cshtml", Model);
		}
	</div>
</form>