@model LocationViewModel

@{
	ViewBag.Title = "Locatie";
}

@using (Html.BeginForm())
{
	<div class="field">
        <label class="mobile-hide">Waar is het gebeurd?</label>
		<div>
			<h2>Buiten</h2>

			<ul class="buttons">
				@foreach (var building in new string[] { "Buiten", "BetaaldeParkeerplaats", "GroteParkeerplaats" })
				{
					<li>
						<button type="submit" name="Building" value="@building" class="hyphenate">
							<img src="@Url.Content(String.Format("~/Content/ReporterBuildings/building-{0}.png", building))" />
							@ReportHelpers.Capitalize(Resources.Buildings.ResourceManager.GetString(building))
						</button>
					</li>
				}
			</ul>

			<h2>Da Vinci College</h2>

			<ul class="buttons">
				@foreach (var building in new string[] { "Arcobaleno", "Azzurro", "Bianco", "Celeste", "Media", "Duurzaamheidsfabriek", "Giallo", "Indaco", "Lilla", "Marrone", "Ocra", "Romboutslaan", "Rosa", "Verde" })
				{
					<li>
						<button type="submit" name="Building" value="@building" class="hyphenate">
							<img src="@Url.Content(String.Format("~/Content/ReporterBuildings/building-{0}.png", building))" />
							@ReportHelpers.Capitalize(Resources.Buildings.ResourceManager.GetString(building))
						</button>
					</li>
				}
			</ul>

			<h2>Overige</h2>

			<ul class="buttons">
				@foreach (var building in new string[] { "Appartementen", "Bogermanschool", "Brandweerkazerne", "Drechtstedencollege", "Klimhal", "Orthodontist", "Samenwerkingsgebouw", "Schippersinternaat", "Sporthal", "Veiligheidsregio", "Wartburg" })
				{
					<li>
						<button type="submit" name="Building" value="@building" class="hyphenate">
							<img src="@Url.Content(String.Format("~/Content/ReporterBuildings/building-{0}.png", building))" />
							@ReportHelpers.Capitalize(Resources.Buildings.ResourceManager.GetString(building))
						</button>
					</li>
				}
			</ul>
		</div>
	</div>
}