@model NuisanceViewModel

@{
	ViewBag.Title = Categories.Nuisance;
}

@section Scripts{
	<script src="~/Scripts/pop-up.js"></script>
}

@using (Html.BeginForm())
{
	<fieldset>
		<legend>@DisplayNames.WhatHappened</legend>
		@Html.TextAreaFor(m => m.Description)
		@Html.ValidationMessageFor(m => m.Description)
	</fieldset>
	@Html.Partial("~/Views/Report/PopUpPartials/Perpetrator.cshtml", new PerpetratorViewModel())
	@Html.Partial("~/Views/Report/PopUpPartials/Vehicle.cshtml", new VehicleViewModel())
	@Html.HiddenFor(m => m.Vehicles)
	@Html.HiddenFor(m => m.Perpetrators)
	<button type="submit"><img src="@Url.Content("~/Content/next.svg")"/></button>
}