@model PerpetratorViewModel

@{
	ViewBag.Title = "Dader";
}

@using (Html.BeginForm())
{
    @* TODO: Fix validation as it looks like shit now *@
	<p>
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name)
	</p>
	<p>
		<label>@Html.RadioButtonFor(m => m.Sex, 0) Onbekend</label>*
		<label>@Html.RadioButtonFor(m => m.Sex, 1) Man</label>*
		<label>@Html.RadioButtonFor(m => m.Sex, 2) Vrouw</label>*
		@Html.ValidationMessageFor(m => m.Sex)
	</p>
	<p>
		@Html.LabelFor(m => m.SkinColor)
		@Html.DropDownListFor(m => m.SkinColor, Model.SkinColors)
	</p>
	<p>
		@Html.LabelFor(m => m.Clothing)
		@Html.TextAreaFor(m => m.Clothing)*
		@Html.ValidationMessageFor(m => m.Clothing)
	</p>
	<p>
		@Html.LabelFor(m => m.AgeRange)
		@Html.DropDownListFor(m => m.AgeRange, Model.AgeRanges)
	</p>
	<p>
		@Html.LabelFor(m => m.UniqueProperties)
		@Html.TextAreaFor(m => m.UniqueProperties)*
		@Html.ValidationMessageFor(m => m.UniqueProperties)
	</p>

	<input type="submit" value="Verzenden"/>
	<text>*verplichte velden</text>
}