@model PerpetratorViewModel

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </p>
    <p>
        <label>@Html.RadioButtonFor(m => m.Sex, 1) Man</label>
        <label>@Html.RadioButtonFor(m => m.Sex, 2) Vrouw</label>
    </p>
    <p>
        @Html.LabelFor(m => m.SkinColor)
        @Html.TextBoxFor(m => m.SkinColor)
    </p>
    <p>
        @Html.LabelFor(m => m.Clothing)
        @Html.TextAreaFor(m => m.Clothing)
    </p>
    <p>
        @Html.LabelFor(m => m.MinimumAge)
        @Html.TextBoxFor(m => m.MinimumAge)
    </p>
    <p>
        @Html.LabelFor(m => m.MaximumAge)
        @Html.TextBoxFor(m => m.MaximumAge)
    </p>
    <p>
        @Html.LabelFor(m => m.UniqueProperties)
        @Html.TextAreaFor(m => m.UniqueProperties)
    </p>


    <input type="submit" value="Verzenden" />
}
