@model Report
@{
	ViewBag.Title = "Politie";
}

<form>
	<div class="field">
		<label></label>
		<p class="noBorder">Wij nemen zo snel mogelijk contact met u op.</p>
	</div>
	<div class="grayLayer">
		@Html.Partial("~/Views/Report/ReportPartials/_PartialReturnReportCategory.cshtml", Model)
		@Html.Partial("~/Views/Report/ReportPartials/_PartialReturnReportLocation.cshtml", Model)
		@Html.Partial("~/Views/Report/CategoryPartials/_PartialDetails" + Model.Category + ".cshtml", Model)
		@if (Model.Perpetrator != null)
				{
					@Html.Partial("~/Views/Report/ReportPartials/_PartialReturnReportPerpetrator.cshtml", Model);
								}

		@if (Model.Contact != null)
				{
					@Html.Partial("~/Views/Report/ReportPartials/_PartialReturnReportContact.cshtml", Model);
								}
		@if (Model.Vehicle != null)
				{
					@Html.Partial("~/Views/Report/ReportPartials/_PartialReturnReportVehicle.cshtml", Model);
								}
	</div>
</form>