@model TheftViewModel

@{
    ViewBag.Title = "Theft";
}

<h2>Theft</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.StolenObject)
        @Html.TextBoxFor(m => m.StolenObject)
    </p>
    <p>
        @Html.LabelFor(m => m.DateOfTheft)
        @Html.EditorFor(m => m.DateOfTheft)
    </p>
    <p>
        @Html.LabelFor(m => m.TimeOfTheft)
        @Html.EditorFor(m => m.TimeOfTheft)
    </p>
    <input type="submit" value="Verzenden" />
}