@model TheftViewModel

@section Scripts{
	<script src="~/Scripts/Theft.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
}

@{
	ViewBag.Title = Categories.Theft;
}

@using (Html.BeginForm())
{
	<fieldset>
		<legend>@DisplayNames.StolenObject</legend>
		@Html.TextBoxFor(m => m.StolenObject)
		<span class="required">verplicht veld</span>
	</fieldset>
	<fieldset>
		<legend>@DisplayNames.DateOfTheft</legend>
		@Html.TextBoxFor(m => m.DateOfTheft)
	</fieldset>
	@Html.Partial("~/Views/Report/PopUpPartials/_partialPopUpPerpetrator.cshtml", new PerpetratorViewModel())
	@Html.Partial("~/Views/Report/PopUpPartials/_partialPopUpVehicle.cshtml", new VehicleViewModel())
	<fieldset>
		<legend>@DisplayNames.Description</legend>
		@Html.TextAreaFor(m => m.Description)
	</fieldset>
	<button type="submit"><img src="@Url.Content("~/Content/next.svg")" /></button>
}