@model VehicleViewModel
@{
    ViewBag.Title = "Vehicle";
}
<script>
	$(document).ready(function() {
		$("#form-content").hide();
	})
</script>
<h2>Voertuig</h2>

@using (Html.BeginForm())
{
	<p>
		Is er een voertuig betrokken bij deze melding?
		<button type="button" onclick="$('#form-content').show()">Ja</button>
		<button type="submit" name="HasVehicle" value="false">Nee</button>
	</p>
	
	<div id="form-content">
		<p>
			@Html.LabelFor(m => m.Color)
			@Html.TextBoxFor(m => m.Color)
		</p>
		<p>
		<p>
			@Html.LabelFor(m => m.Brand)
			@Html.TextBoxFor(m => m.Brand)
		</p>
		<p>
			@Html.LabelFor(m => m.NumberPlate)
			@Html.TextBoxFor(m => m.NumberPlate)
		</p>
		<p>
			@Html.LabelFor(m => m.AdditionalFeatures)
			@Html.TextBoxFor(m => m.AdditionalFeatures)
		</p>
		<button type="submit" name="HasVehicle" value="true">Versturen</button>
	</div>
}