@model WeaponViewModel

@section Scripts {
	<script src="~/Scripts/Weapon.js"></script>
}

@{
	ViewBag.Title = Categories.Weapons;
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>@DisplayNames.WeaponType</legend>
        @Html.DropDownListFor(m => m.Type, Model.Types)
		@Html.ValidationMessageFor(m => m.Type)
    </fieldset>
	<fieldset id="Sub">
		<legend>@DisplayNames.WeaponTypeOther</legend>
		@Html.TextBoxFor(m => m.OtherType)
	</fieldset>
	<fieldset>
		<legend>@DisplayNames.WeaponLocation</legend>
		@Html.TextAreaFor(m => m.Location)
		@Html.ValidationMessageFor(m => m.Location)
		<span class="required">verplicht veld</span>
	</fieldset>
	<fieldset>
		<legend>@DisplayNames.Description</legend>
		@Html.TextAreaFor(m => m.Description)
	</fieldset>
	<button type="submit"><img src="@Url.Content("~/Content/next.svg")" /></button>
}