@model PerpetratorViewModel

<fieldset>
	<section class="popup" id="perpetrator">
		<header>@DisplayNames.Perpetrator</header>
		<fieldset>
			<legend>@DisplayNames.PerpetratorName</legend>
			@Html.TextBoxFor(m => m.Name)
		</fieldset>
		<fieldset>
			<legend>@DisplayNames.PerpetratorSex</legend>
			@Html.DropDownListFor(m => m.Sex, Model.SexList)
		</fieldset>
		<fieldset>
			<legend>@DisplayNames.PerpetratorSkinColor</legend>
			@Html.DropDownListFor(m => m.SkinColor, Model.SkinColors)
		</fieldset>
		<fieldset>
			<legend>@DisplayNames.PerpetratorAge</legend>
			@Html.DropDownListFor(m => m.AgeRange, Model.AgeRanges)
		</fieldset>
		<fieldset>
			<legend>@DisplayNames.PerpetratorClothing</legend>
			@Html.TextAreaFor(m => m.Clothing)
		</fieldset>
		<fieldset>
			<legend>@DisplayNames.PerpetratorProperties</legend>
			@Html.TextAreaFor(m => m.UniqueProperties)
		</fieldset>
		<button type="submit" onclick="popUpReport('perpetrator', 'abort'); postResizeMessage(); return false;"><img src="~/Content/cancel.svg" /></button>
		<button type="submit" onclick="popUpReport('perpetrator', 'confirm'); postResizeMessage(); return false;"><img src="~/Content/done.svg" /></button>
	</section>
	<legend>@DisplayNames.Perpetrator</legend>

	@*/* Hier moet komen wie je heb gezien */*@
	<ul id="perpetratorData"></ul>
	<button id="perpButton" onclick="popUpShow('perpetrator'); return false;">Persoon toevoegen</button>
</fieldset>