<div class="field">
	<label>Contactgegevens</label>
</div>
@if (Model.Contact.Name != null) {
	<div class="field">
		<h2>@PageItems.ContactName</h2>
		<div class="donePadding">
			<p>@DashboardHelpers.NullCheck(Model.Contact.Name)</p>
		</div>
	</div>
}

@if (Model.Contact.PhoneNumber != null)
{
	<div class="field">
		<h2>@PageItems.ContactPhoneNumber</h2>
		<div class="donePadding">
			<p>@DashboardHelpers.NullCheck(Model.Contact.PhoneNumber)</p>
		</div>	
	</div>
}

@if (Model.Contact.EmailAddress != null)
{
	<div class="field">
		<h2>@PageItems.ContactEmail</h2>
		<div class="donePadding">
			<p>@DashboardHelpers.NullCheck(Model.Contact.EmailAddress)</p>
		</div>	
	</div>
}