@model Contact 

@if (Model.Name != null)
 {
	<fieldset>
		<legend>@PageItems.ContactName</legend>
		<div>
			<input type="text" id="VictimName" value="@DashboardHelpers.NullCheck(Model.Name)" />
		</div>
	</fieldset>
 }
@if (Model.PhoneNumber != null)
{
	<div class="field">
		<h2>@PageItems.ContactPhoneNumber</h2>
		<div class="donePadding">
			<p>@DashboardHelpers.NullCheck(Model.PhoneNumber)</p>
		</div>	
	</div>
}

@if (Model.EmailAddress != null)
{
	<div class="field">
		<h2>@PageItems.ContactEmail</h2>
		<div class="donePadding">
			<p>@DashboardHelpers.NullCheck(Model.EmailAddress)</p>
		</div>	
	</div>
}