<div class="field">
	<h2>@Resources.ReportProperties.ResourceManager.GetString("BullyVictim")</h2>
	<div class="donePadding">
		<p>@DashboardHelpers.NullCheck(Model.VictimName)</p>
	</div>
</div>

<div class="field">
	<h2>@Resources.ReportProperties.ResourceManager.GetString("Description")</h2>
	<div class="donePadding">
		<p>@DashboardHelpers.NullCheck(Model.Description)</p>
	</div>
</div>

<div class="field">
	<h2>@Resources.ReportProperties.ResourceManager.GetString("VictimDescription")</h2>
	<div class="donePadding">
		<p>@DashboardHelpers.NullCheck(Model.Victim)</p>
	</div>
</div>