<div class="field">
	<h2>@Resources.ReportProperties.ResourceManager.GetString("BullyVictim")</h2>
	<div class="donePadding">
		<p>@DashboardHelpers.NullCheck(Model.VictimName)</p>
	</div>
</div>
<fieldset>
    <legend>@ReportProperties.ResourceManager.GetString("BullyVictim")</legend>
	<input type="text" id="VictimName" value="@DashboardHelpers.NullCheck(Model.VictimName)" />
</fieldset>
<div class="field">
	<h2>@Resources.ReportProperties.ResourceManager.GetString("Description")</h2>
	<div class="donePadding">
		<p>@DashboardHelpers.NullCheck(Model.Description)</p>
	</div>
</div>

<div class="field">
	<h2>@Resources.ReportProperties.ResourceManager.GetString("VictimDescription")</h2>
	<div class="donePadding">
		<p>@DashboardHelpers.NullCheck(Model.Victim)</p>
	</div>
</div>