<div class="field">
	<label>@ReportProperties.StolenObject</label>
	<p>@DashboardHelpers.NullCheck(Model.StolenObject)</p>
</div>

<div class="field">
	<label>@ReportProperties.DateOfTheft</label>
	<p>@DashboardHelpers.NullCheck(Model.DateOfTheft)</p>
</div>

@if (Model.Description != null)
{
	<div class="field">
		<label>@ReportProperties.Description</label>
		<p>@Model.Description</p>
	</div>
}