@model Report

<fieldset class="summary">
	<legend>@PageItems.BullyVictimName</legend>
	<p>@Model.VictimName</p>
</fieldset>

@if (Model.Victim != null)
{
	<fieldset class="summary">
		<legend>@PageItems.BullyVictim</legend>
		<p>@Model.Victim</p>
	</fieldset>
}

<fieldset class="summary">
	<legend>@PageItems.Description</legend>
	<p>@Model.Description</p>
</fieldset>