<fieldset>
	<legend>@ReportProperties.ResourceManager.GetString("UsingOrDealing")</legend>
	<div>
		<input type="text" id="VictimName" value="@DashboardHelpers.NullCheck(Model.DrugsAction)" />
	</div>
</fieldset>

<fieldset>
	<legend>@ReportProperties.ResourceManager.GetString("Description")</legend>
	<div>
		<input type="text" id="VictimName" value="@DashboardHelpers.NullCheck(Model.Description)" />
	</div>
</fieldset>

@*<input type="text" id="VictimName" value="@DashboardHelpers.NullCheck()" />*@