@model IEnumerable<Vehicle>

@if (Model != null && Model.Any())
{
	<fieldset class="summary">
		<legend>@ReportProperties.Vehicle</legend>

		<ul>
			@foreach (var vehicle in Model)
			{
				<li>
					@VehicleTypes.ResourceManager.GetString(vehicle.VehicleType.ToString()),
					@vehicle.Brand,
					@vehicle.NumberPlate,
					@vehicle.Color,
					bijzondere kenmerken: @vehicle.AdditionalFeatures
				</li>
			}
		</ul>
	</fieldset>
}