<fieldset class="summary">
	<legend>@ReportProperties.ResourceManager.GetString("WeaponType")</legend>
	@if (Model.WeaponType == "Anders")
    {
        <p>@DashboardHelpers.NullCheck(Model.WeaponTypeOther)</p>
    }
    else
    {
        <p>@DashboardHelpers.NullCheck(Model.WeaponType)</p>
    }
</fieldset>

<fieldset class="summary">
	<legend>@ReportProperties.ResourceManager.GetString("WeaponLocation")</legend>
	<p>@DashboardHelpers.NullCheck(Model.WeaponLocation)</p>
</fieldset>

@if (Model.Description != null)
{
	<fieldset class="summary">
		<legend>@ReportProperties.Description</legend>
		<p>@Model.Description</p>
	</fieldset>
}