<div class="field">
	<h2>@ReportProperties.ResourceManager.GetString("WeaponType")</h2>
	<div class="donePadding"><p>@DashboardHelpers.NullCheck(Model.WeaponType)</p></div>
</div>

<div class="field">
	<h2>@ReportProperties.ResourceManager.GetString("WeaponLocation")</h2>
	<div class="donePadding">
		<p>@DashboardHelpers.NullCheck(Model.WeaponLocation)</p>
	</div>
</div>

@if (Model.Description != null)
{
	<div class="field">
		<h2>@ReportProperties.Description</h2>
		<div class="donePadding">
			<p>@Model.Description</p>
		</div>	
	</div>
}