@model Lisa.Kiwi.Web.Reporting.Models.OriginalReport
@using Lisa.Kiwi.Web.Reporting.Utils

@{
    ViewBag.Title = "Confirmed";
}


<div class="center-box">
    <div class="row">
        <div class="col-xs-12">
            <h2>Bevestigd</h2>
            <div class="form-group">
                <p>De melding is succes vol aangemaakt.</p>
            </div>
            <h4>Details</h4>
            <div class="form-group">
                <label class="col-xs-12 control-label">Type melding</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@Model.Type</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">Locatie</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@Model.Location</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">Tijdstip</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@Model.Time.ToString("dddd dd MMM yyyy")</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">Beschrijving</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@Model.Description</p>
                </div>
            </div>



            <p>@Html.ActionLink("Ga terug naar de home pagina", "Index", "Report", new {@class = "btn btn-default btn-report"})</p>
        </div>
    </div>
</div>