@model Lisa.Kiwi.Web.Reporting.Models.OriginalReport
@using Lisa.Kiwi.Web.Reporting.Utils
@using Lisa.Kiwi.Web.Reporting.Models

@{
    ViewBag.Title = "Bevestigd";
    ContactMetadata contact = (ContactMetadata)ViewBag.Contact;
    ReportTypeMetadata type = (ReportTypeMetadata) Enum.Parse(typeof(ReportTypeMetadata), Model.Type);
}


<div class="center-box">
    <div class="row">
        <div class="col-xs-12">
            <h2>Bevestigd</h2>
            <div class="form-group">
                <p>De melding is succesvol aangemaakt.</p>
            </div>
        </div>
        <div class="col-xs-12 left">
            <h4>Details</h4>
            <div class="form-group">
                <label class="col-xs-12 control-label">Type melding</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@type.GetReportTypeDisplayNameFromMetadata()</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">Locatie</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@Model.Location</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">Tijdstip</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@Model.Time.ToString("dddd dd MMM yyyy HH:mm")</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">Beschrijving</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@Model.Description</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 right">
            @if (contact != null)
            {
                <h4>Contactgegevens</h4>
                <div class="form-group">
                    <label class="col-xs-12 control-label">Naam</label>
                    <div class="col-xs-12">
                        <p class="form-control-static">
                            @if (contact.Name == null)
                            {
                                <span>n.v.t</span>
                            }
                            else
                            {
                                <span>@contact.Name</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 control-label">E-mail adres</label>
                    <div class="col-xs-12">
                        <p class="form-control-static">
                            @if (contact.Email == null)
                            {
                                <span>n.v.t</span>
                            }
                            else
                            {
                                <span>@contact.Email</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 control-label">Telefoonnummer</label>
                    <div class="col-xs-12">
                        <p class="form-control-static">
                            @if (contact.PhoneNumber == null)
                            {
                                <span>n.v.t</span>
                            }
                            else
                            {
                                <span>@contact.PhoneNumber</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 control-label">Studentnummer</label>
                    <div class="col-xs-12">
                        <p class="form-control-static">
                            @if (contact.StudentNumber == null)
                            {
                                <span>n.v.t</span>
                            }
                            else
                            {
                                <span>@contact.StudentNumber</span>
                            }
                        </p>
                    </div>
                </div>
                }

            </div>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>@Html.ActionLink("Ga terug naar de startpagina", "Index", "Report", null, new { @class = "btn btn-default btn-report" })</p>
            </div>
        </div>
</div>