@model ContactMetadata
@{
    ViewBag.Title = "Contact details";
    bool isChecked = false;
    var value = "";
}

<div class="center-box">
    <h2>Contactdetails</h2>

    @using (Html.BeginForm("Contactdetails", "Report"))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        

        <div class="form-group">
            <label class="control-label">Als we contact met u op mogen nemen, vul dan hier uw contactgevens in.</label><br />
        </div>

        <div class="form-group">
            <label class="checkbox-inline">
                @if (Model != null && Model.Name != null)
                {
                    isChecked = true;
                    value = Model.Name;
                    
                } 
                @Html.CheckBox("nameCheck", isChecked, new { @Value = "Naam", OnChange = "disabledCheck('nameCheck', 'Name');" })
                Naam
            </label>
            <div class="col-xs-12">
                @Html.TextBoxFor(c => c.Name, new {@Disabled = "Disabled", Value = value, @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                @if (Model != null && Model.PhoneNumber != null)
                {
                    isChecked = true;
                    value = Model.PhoneNumber;

                }
                else
                {
                    isChecked = false;
                    value = "";
                }
                @Html.CheckBox("phoneCheck", isChecked, new { @Value = "Bel mij!", OnChange = "disabledCheck('phoneCheck', 'PhoneNumber');" })
                Telefoon
            </label>
            <div class="col-xs-12">
                @Html.TextBoxFor(c => c.PhoneNumber, new {@Disabled = "Disabled", Value = value, @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                @if (Model != null && Model.Email != null)
                {
                    isChecked = true;
                    value = Model.Email;

                }
                else
                {
                    isChecked = false;
                    value = "";
                }
                @Html.CheckBox("emailCheck", isChecked, new { @Value = "Mail mij!", OnChange = "disabledCheck('emailCheck', 'Email'); " })
                E-mailadres
            </label>
            <div class="col-xs-12">
                @Html.TextBoxFor(c => c.Email, new {@Disabled = "Disabled", Value = value, @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                @if (Model != null && Model.StudentNumber != null)
                {
                    isChecked = true;
                    value = Model.StudentNumber.ToString();

                }
                else
                {
                    isChecked = false;
                    value = "";
                }
                @Html.CheckBox("studentCheck", isChecked, new { @Value = "Neem contact op met mijn begleider/mentor", OnChange = "disabledCheck('studentCheck', 'StudentNumber');" })
                Studentnummer
            </label>
            <div class="col-xs-12">
                @Html.TextBoxFor(c => c.StudentNumber, new {@Disabled = "Disabled", Value = value, @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.Hidden("guid", new {@Value = ViewBag.Guid})
            <input type="submit" value="Bevestig" class="btn btn-default btn-report" />
        </div>
    }
</div>

<script type="text/javascript">
    function disabledCheck(checkboxId, inputId) {
        var checkbox = document.getElementById(checkboxId);
        var input = document.getElementById(inputId);
        if (checkbox.checked) {
            input.disabled = false;
        } else {
            input.disabled = true;
        }
    }

    //function RemoveSpace(inputId) {
    //    var input = document.getElementById(inputId);
    //    input.value = input.value.replace(' ', '');
    //}


</script>