@model Lisa.Kiwi.Web.Reporting.Models.Contact

@{
    ViewBag.Title = "Contact details";
}

<div class="center-box">
    <h2>Contact details</h2>

    @using (Html.BeginForm("Contactdetails", "Report"))
    {
        @Html.ValidationSummary()

        <div class="form-group">
            <label class="control-label">Mogen wij contact met je opnemen?</label><br />         
        </div>

        <div class="form-group">
            <label class="control-label">Naam</label><br />
            @Html.CheckBox("nameCheck", false, new { @Value = "Naam", OnChange = "disabledCheck('nameCheck', 'Name');" })
            @Html.TextBoxFor(c => c.Name, new { @Disabled = "Disabled", Value = "", OnChange = "RemoveSpace('Name');" })
        </div>
        <div class="form-group">
            <label class="control-label">Telefoon</label><br />
            @Html.CheckBox("phoneCheck", false, new { @Value = "Bel mij!", OnChange = "disabledCheck('phoneCheck', 'PhoneNumber');" })
            @Html.TextBoxFor(c => c.PhoneNumber, new { @Disabled = "Disabled", Value = "", OnChange = "RemoveSpace('PhoneNumber');" })
        </div>
        <div class="form-group">
            <label class="control-label">Email</label><br />
            @Html.CheckBox("emailCheck", false, new { @Value = "Mail mij!", OnChange = "disabledCheck('emailCheck', 'Email'); " })
            @Html.TextBoxFor(c => c.Email, new { @Disabled = "Disabled", Value = "" })
        </div>
        <div class="form-group">
            <label class="control-label">Studentnummer</label><br />
            @Html.CheckBox("studentCheck", false, new { @Value = "Neem contact op met mijn begleider/mentor", OnChange = "disabledCheck('studentCheck', 'StudentNumber');" })
            @Html.TextBoxFor(c => c.StudentNumber, new { @Disabled = "Disabled", Value = "", OnChange = "RemoveSpace('StudentNumber');" })
        </div>
        <div class="form-group">
            @Html.Hidden("guid", new { @Value = ViewBag.Guid })
            <input type="submit" value="Bevestig" class="btn btn-default" />
        </div>
    }
</div>

<script type="text/javascript">
    function disabledCheck(checkboxId, inputId) {
        var checkbox = document.getElementById(checkboxId);
        var input = document.getElementById(inputId);
        if (checkbox.checked) {
            input.disabled = false;
        } else {
            input.disabled = true;
        }
    }

    function RemoveSpace(inputId) {
        var input = document.getElementById(inputId);
        input.value = input.value.replace(' ', '');
    }

    
</script>