@model Lisa.Kiwi.Web.Reporting.Models.OriginalReport

@{
    ViewBag.Title = "Report";
}

<div class="center-box">
    <div class="row">
        <div class="col-xs-12">
            <h2>Melding</h2>

            @using (Html.BeginForm("Details", "Report"))
            {
                @Html.ValidationSummary()
                ;
                @Html.AntiForgeryToken()
                ;
                <div class="form-group">
                    @Html.LabelFor(o => o.Location, new {@class = "col-xs-12"})
                    <div class="col-xs-12">
                        @Html.TextBoxFor(o => o.Location, new {@required = "required", @class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(o => o.Time, new {@class = "col-xs-12"})
                    <div class="col-xs-12">
                        @Html.TextBoxFor(o => o.Time, new {@required = "required", @class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(o => o.Description, new {@class = "col-xs-12"})
                    <div class="col-xs-12">
                        @Html.TextAreaFor(o => o.Description, new {@required = "required", @class = "form-control", @rows = "3"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <br />
                        <input type="submit" name="nextBtn" value="Volgende stap" class="btn btn-default btn-report" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>