@if (Model.FighterCount != null)
{
	<div class="field">
		<label>@ReportProperties.ResourceManager.GetString("FightCount")</label>
		<p>@DashboardHelpers.NullCheck(Model.FighterCount)</p>
	</div>

}

@if (Model.IsWeaponPresent != null)
{
	<div class="field">
		<label>@ReportProperties.ResourceManager.GetString("WeaponPresent")</label>
		<p>@DashboardHelpers.NullCheck(Model.IsWeaponPresent)</p>
	</div>
}

@if (Model.Description != null)
{
	<div class="field">
		<label>@ReportProperties.Description</label>
		<p>@Model.Description</p>
	</div>
}