<div class="field">
	<label>@Resources.ReportProperties.ResourceManager.GetString("BullyVictim")</label>
	<p>@DashboardHelpers.NullCheck(Model.VictimName)</p>
</div>

<div class="field">
	<label>@Resources.ReportProperties.ResourceManager.GetString("Description")</label>
	<p>@DashboardHelpers.NullCheck(Model.Description)</p>
</div>

<div class="field">
	<label>@Resources.ReportProperties.ResourceManager.GetString("VictimDescription")</label>
	<p>@DashboardHelpers.NullCheck(Model.Victim)</p>
</div>