<div class="field">
	<label>@ReportProperties.ResourceManager.GetString("WeaponType")</label>
	<p>@DashboardHelpers.NullCheck(Model.WeaponType)</p>
</div>

<div class="field">
	<label>@ReportProperties.ResourceManager.GetString("WeaponLocation")</label>
	<p>@DashboardHelpers.NullCheck(Model.WeaponLocation)</p>
</div>

@if (Model.Description != null)
{
	<div class="field">
		<label>@ReportProperties.Description</label>
		<p>@Model.Description</p>
	</div>
}