@using Lisa.Kiwi.Web.Dashboard.Utils
@model IEnumerable<Lisa.Kiwi.WebApi.Report>

<div class="block-container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Meldingen</h2>
        </div>
        <div class="col-sm-4">
            @Html.Partial("SearchPartial", new SearchModel())
        </div>
    </div>
    @if (ViewBag.SearchText != null)
    {
        <p>Resultaten voor "@ViewBag.SearchText"...</p>
    }
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        @{ var sortingBy = (string)ViewBag.SortingBy; }
                        <th>@Html.SortLinkFor("Melding aangemaakt", sortingBy, i => i.Created)</th>
                        <th>@Html.SortLinkFor("Datum incident", sortingBy, i => i.Time)</th>
                        <th>@Html.SortLinkFor("Type melding", sortingBy, i => i.Type)</th>
                        <th>@Html.SortLinkFor("Locatie", sortingBy, i => i.Location)</th>
                        <th>Beschrijving</th>
                        <th>@Html.SortLinkFor("Status", sortingBy, i => i.Status)</th>
                        <th>Bekijken</th>
                    </tr>
                </thead>
                <tbody>
                    <script type="text/javascript"> idsArray = new Array();</script>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="convertCreatedTime-@item.Id">@item.Created.ToString("yyyy-MM-dd HH:mm:ss")</span></td>
                            <td><span class="convertIncidentTime-@item.Id">@item.Time.ToString("yyyy-MM-dd HH:mm:ss")</span></td>
                            <td>@item.Type</td>
                            <td>@item.Location</td>
                            <td>@item.Description</td>
                            <td>@item.Status.GetStatusDisplayNameFromMetadata()</td>
                            <td><a href="@Url.Action("Details", new {id = item.Id})">Bekijk</a></td>
                        </tr>
                        <script type="text/javascript">idsArray.push(@item.Id)</script>
                    }
                </tbody>
            </table>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="text-center">
                    @foreach (var error in ViewData.ModelState.SelectMany(e => e.Value.Errors))
                    {
                        @error.ErrorMessage
                    }
                </div>
            }
        </div>
    </div>
</div>
<h1>@TimeZoneInfo.Local</h1>
<script type="text/javascript">
    idsArray.forEach(function (id) {
        var timeClass = $('.convertIncidentTime-' + id);
        var m = timeClass.text().match(/(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})/);
        var date = new Date(Date.UTC(m[1], m[2] - 1, m[3], m[4], m[5], m[6]));

        var options = { weekday: 'short', day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
        var newTime = date.toLocaleString('nl-NL', options);

        timeClass.text(newTime);

        var createdClass = $('.convertCreatedTime-' + id);
        m = createdClass.text().match(/(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})/);
        date = new Date(Date.UTC(m[1], m[2] - 1, m[3], m[4], m[5], m[6]));

        options = { weekday: 'short', day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
        newTime = date.toLocaleString('nl-NL', options);

        var result = $.format.prettyDate(newTime);
        createdClass.text(result);
    });
</script>