@using Lisa.Kiwi.Web.Dashboard.Utils
@model IEnumerable<Lisa.Kiwi.WebApi.Report>

<div class="block-container">
    <h2>Meldingen</h2>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.ActionLink("Melding aangemaakt", "Index", new {sortBy = SortHelper.SortBy("Created", ViewBag.SortingBy)})</th>
                        <th>@Html.ActionLink("Datum incident", "Index", new {sortBy = SortHelper.SortBy("Time", ViewBag.SortingBy)})</th>
                        <th>@Html.ActionLink("Type melding", "Index", new {sortBy = SortHelper.SortBy("Type", ViewBag.SortingBy)})</th>
                        <th>Beschrijving</th>
                        <th>@Html.ActionLink("Status", "Index", new {sortBy = SortHelper.SortBy("Status", ViewBag.SortingBy)})</th>
                        <th>Bekijken</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Created.ToLocalTime().ToString("dd-MM-yy HH:mm:ss")</td>
                            <td>@item.Time.ToString("dd-MM-yy HH:mm")</td>
                            <td>@item.Type.GetReportTypeDisplayNameFromMetadata()</td>
                            <td>@item.Description</td>
                            <td>@item.Status.GetStatusDisplayNameFromMetadata()</td>
                            <td><a href="@Url.Action("Details", new {id = item.Id})">Bekijk</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>