@using Lisa.Kiwi.Web.Dashboard.Utils
@model IEnumerable<Lisa.Kiwi.WebApi.Report>

<div class="block-container">
    <h2>Meldingen</h2>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        @{ var sortingBy = (string) ViewBag.SortingBy; }
                        <th>@Html.SortLinkFor("Melding aangemaakt", sortingBy, i => i.Created)</th>
                        <th>@Html.SortLinkFor("Datum incident", sortingBy, i => i.Time)</th>
                        <th>@Html.SortLinkFor("Type melding", sortingBy, i => i.Type)</th>
                        <th>Beschrijving</th>
                        <th>@Html.SortLinkFor("Status", sortingBy, i => i.Status)</th>
                        <th>Bekijken</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Created.ToLocalTime().ToString("dd-MM-yy HH:mm:ss")</td>
                            <td>@item.Time.ToString("dd-MM-yy HH:mm")</td>
                            <td>@item.Type</td>
                            <td>@item.Description</td>
                            <td>@item.Status.GetStatusDisplayNameFromMetadata()</td>
                            <td><a href="@Url.Action("Details", new {id = item.Id})">Bekijk</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>