@model Lisa.Kiwi.WebApi.Access.Report

@{
    
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@if (Model == null)
{
    @Html.Partial("_404")
}
else
{
    
<h2>report</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Details</h3>
        <div class="form-group">
            <label class="col-sm-4">Tijd incident</label>
            <p class="col-sm-8">@Model.Time.ToString("dd-mm-yyyy HH:mm:ss")</p>
            <label class="col-sm-4">Type melding</label>
            <p class="col-sm-8">@Model.Type</p>
            <label class="col-sm-4">Beschrijving</label>
            <p class="col-sm-8">@Model.Description</p>
            <label class="col-sm-4">IP adres</label>
            <p class="col-sm-8">@Model.Ip</p>
            <label class="col-sm-4">User agent</label>
            <p class="col-sm-8">@Model.UserAgent</p>
            <label class="col-sm-4">Status</label>
            <p class="col-sm-8">@Model.Status.Name</p>
        </div>
        @if (Model.Contacts != null)
        {
            foreach (var contact in Model.Contacts)
            {
            <h3>Contact gegevens</h3>
            <div class="form-group">
                <label class="col-sm-4">Naam</label>
                <p class="col-sm-8">@contact.Name</p>
                <label class="col-sm-4">Telefoonnummer</label>
                <p class="col-sm-8">@if(contact.PhoneNumber != null) { @contact.PhoneNumber } else { <span>n.v.t</span> }</p>
                <label class="col-sm-4">Emailadres</label>
                <p class="col-sm-8">@if(contact.EmailAddress != null) { @contact.EmailAddress } else { <span>n.v.t</span> }</p>
                <label class="col-sm-4">Studenten OV nummer</label>
                <p class="col-sm-8">@if(contact.StudentNumber != null) { @contact.StudentNumber } else { <span>n.v.t</span> }</p>
            </div>
            }
        }
        <h3>Acties</h3>
        <div class="form-group">
            <label class="col-sm-4">Opmerking</label>
            <textarea class="col-sm-8"></textarea>
            <label class="col-sm-4">Nieuwe status</label>
            @Html.DropDownListFor(r => r.Status.Name, (SelectList)ViewBag.Statusses, new { @Class = "col-sm-8" })

            <input class="col-sm-12" type="submit" value="Toevoegen" />
        </div>

    </div>
    <div class="col-md-6">
        <h3>Logboek</h3>
    </div>
</div>
}




