@model IEnumerable<Lisa.Kiwi.WebApi.Access.Report>

<h2>Dashboard</h2>
<div class="row">
<div class="col-sm-12">
    <table class="table">
        <thead>
            <tr>
                <th>Melding aangemaakt</th>
                <th>Datum incident</th>
                <th>Type melding</th>
                <th>Beschrijving</th>
                <th>Status</th>
                <th>Bekijken</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
          <tr>
              <td>@item.Created.ToString("dd-mm-yy HH:mm:ss")</td>
              <td>@item.Time.ToString("dd-mm-yy HH:mm")</td>
              <td>@item.Type</td>
              <td>@item.Description</td>
              <td>@item.Status.Last().Name</td>
              @{ var url = "Report/Index/" + item.Guid; }
              <td><a href="@url">Bekijk</a></td>
          </tr>
            }
        </tbody>
    </table>
</div>
</div>

