@model IEnumerable<Lisa.Kiwi.WebApi.Access.Reports>

<h2>Dashboard</h2>



<div class="row">
<div class="col-sm-12">
    <table class="table">
        <thead>
            <th>Melding aangemaakt</th>
            <th>Datum incident</th>
            <th>Type melding</th>
            <th>Beschrijving</th>
            <th>Status</th>
            <th>Bekijken</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
          <tr>
              <td>@item.Created.ToString("dd-mm-yy HH:mm:ss")</td>
              <td>@item.Time.ToString("dd-mm-yy HH:mm")</td>
              <td>@item.Type</td>
              <td>@item.Description</td>
              <td>@item.Status.Name</td>
              <td><a href="/report">Bekijken</a></td>
          </tr>
            }
        </tbody>
    </table>
   
</div>
</div>

