﻿@model IEnumerable<Report>

@{
    Layout = null;
    var api = MvcApplication.GetApiUrl();    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Archive</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Table.css")">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
</head>
<body>
    <table id="allData" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorie</th>
                <th>Aangemaakt om</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model.OrderBy(t => t.Created))
            {
                <a href="@Url.Action("Details", new { id= report.Id })">
                    <tr>
                        <td>
                            @report.Id
                        </td>
                        <td>
                            @Categories.ResourceManager.GetString(report.Category)
                        </td>
                        <td>
                            @report.Created.ToString("dd/MM/yyyy HH:mm:ss")
                        </td>
                        <td>
                            @switch ((string)report.Category)
                            {
                                case "FirstAid":
                                @DashboardHelpers.NullCheck(ReportProperties.ResourceManager.GetString(report.IsUnconscious + report.Category))
                                break;
                                case "Theft":
                                @:Er was een @DashboardHelpers.NullCheck(report.StolenObject) gestolen om @DashboardHelpers.NullCheck(report.DateOfTheft).
								break;
                                case "Fight":
                                @:Er waren @DashboardHelpers.NullCheck(report.FighterCount) mensen aan het vechten.
								break;
                                case "Weapons":
                                @:Het ging om een: @DashboardHelpers.NullCheck(report.WeaponType)
								break;
                                default:
                                @:@DashboardHelpers.NullCheck(report.Description)
								break;
                            }
                        </td>
                    </tr>
                </a>
            }
        </tbody>
    </table>
</body>
</html>

<script>
    $(document).ready(function () {
        $('#allData').DataTable();
    });
    </script>
