@using System.Runtime.InteropServices.ComTypes
@model Lisa.Kiwi.WebApi.Report
@{
  Layout = null;
}

<!doctype html>

<html>
<head>
  <title>Leerpark</title>
  <link href="~/Content/main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>@Resources.Categories.ResourceManager.GetString("FirstAid")</h1>

  <dl>
    <dt>Type</dt>
    <dd>@Resources.Categories.ResourceManager.GetString("FirstAid")</dd>

    <dt>Datum</dt>
    <dd>@Model.Created.ToString("dddd d MMMM HH:mm")</dd>

    <dt>Locatie</dt>
    <dd>@Model.Location.Building - @Model.Location.Description</dd>

    <dt>Huidige status</dt>
    <dd>@Model.CurrentStatus</dd>

    <dt>Zichtbaar?</dt>
    <dd>@Model.IsVisible</dd>
    
    @Html.Partial("_PartialDetails" + Model.Category, Model)

  </dl>

  @if (ViewBag.Contact != null)
  {
    <h2>Contact:</h2>
    <dl>
      <dt>Naam</dt>
      <dd>@ViewBag.Contact.Name</dd>

      <dt>Telefoonnummer</dt>
      <dd>@ViewBag.Contact.PhoneNumber</dd>

      <dt>E-mailadres</dt>
      <dd>@ViewBag.Contact.EmailAddress</dd>
    </dl>
  }

<hr/>

@using (Html.BeginForm())
  {
    <dl>
      <dt>Status</dt>
      <dd>
        @Html.DropDownList("status", (IEnumerable<SelectListItem>) ViewBag.StatusNames)
      </dd>
      <dt>Zichtbaar?</dt>
      <dd>
        @Html.CheckBox("IsVisible")
      </dd>
      <dd><input type="submit" value="Opslaan"/></dd>
    </dl>
  }
    <p>@Html.ActionLink("Ga terug naar de startpagina", "Index", "Dashboard", null, new { @class = "btn btn-default btn-report" })</p>
</body>
</html>