@model Report

<fieldset class="summary">
	<legend>Wat is er gemeld?</legend>
	<p>
		@Categories.ResourceManager.GetString(Model.Category)
	</p>
</fieldset>

@if (Model.Location != null)
{
	@Html.Partial("~/Views/Shared/Partials/Details/Location.cshtml", Model.Location)
}

<fieldset class="summary">
	<legend>@PageItems.CreatedAt</legend>
	<p>@Model.Created.ToString("dd MMMM yyyy H:mm")</p>
</fieldset>

@Html.Partial("~/Views/Shared/Partials/Details/" + Model.Category + ".cshtml", Model)

@if (Model.Perpetrators != null)
{
	@Html.Partial("~/Views/Shared/Partials/Details/Perpetrators.cshtml", Model.Perpetrators)
}

@if (Model.Contact != null)
{
	@Html.Partial("~/Views/Shared/Partials/Details/Contact.cshtml", Model.Contact)
}

@if (Model.Vehicles != null)
{
	@Html.Partial("~/Views/Shared/Partials/Details/Vehicles.cshtml", Model.Vehicles)
}

@using (Html.BeginForm())
{
	<fieldset>
		<legend>@PageItems.Status</legend>
		<ul class="radioList">
			<li><input type="radio" name="Status" value="@StatusEnum.Open" @(Model.Status == StatusEnum.Open ? "checked=\"checked\"" : "") /> @Statuses.Open</li>
			<li><input type="radio" name="Status" value="@StatusEnum.Transferred" @(Model.Status == StatusEnum.Transferred ? "checked=\"checked\"" : "") /> @Statuses.Transferred</li>
			<li><input type="radio" name="Status" value="@StatusEnum.Solved" @(Model.Status == StatusEnum.Solved ? "checked=\"checked\"" : "") /> @Statuses.Solved</li>
		</ul>
	</fieldset>
	if (Request.Cookies["role"] != null && Request.Cookies["role"].Value == "Administrator")
	{
		<fieldset>
			<legend>@PageItems.VisibleChange</legend>
			@(!Model.IsVisible == true ? Html.CheckBox("IsVisible") : Html.CheckBox("IsVisible", new { @checked = "true" }))
		</fieldset>
	}
	<fieldset>
		<button type="submit">Status wijzigen</button>
	</fieldset>
	<fieldset class="field backbutton fa fa-arrow-left">
			@Html.ActionLink("Terug", "Index", "Dashboard")
	</fieldset>
}