@model IEnumerable<Report>
@{
	Layout = null;
}
<!doctype html>

<html>
<head>
	<title>Leerpark</title>
	<link href="~/Content/main.css" rel="stylesheet" type="text/css">
	<script src="//www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>

<body>
	<table class="sortable">
		<tr>
			<th>@PageItems.Date</th>
			<th>@PageItems.Category</th>
			<th>@PageItems.Building</th>
			<th>@PageItems.Location</th>
			<th>@PageItems.Status</th>
		</tr>

		@foreach (var report in Model)
		{
			<tr>
				<td>@report.Created.ToString("ddd d MMM HH:mm")</td>
				<td>
					<a href="@Url.Action("Details", new { id= report.Id })">
						@Categories.ResourceManager.GetString(report.Category)
					</a>
				</td>
				@if (report.Location != null)
				{
					<td>@DashboardHelpers.NullCheck(report.Location.Building)</td>
					<td>@DashboardHelpers.NullCheck(report.Location.Description)</td>
					<td>@Statuses.ResourceManager.GetString(Enum.GetName(typeof(StatusEnum), report.Status))</td>
				}
			</tr>
		}
	</table>
</body>
</html>