@model IEnumerable<Lisa.Kiwi.WebApi.Report>
@{
	Layout = null;
}
@using Resources;
<!doctype html>

<html>
<head>
	<title>Leerpark</title>
	<link href="~/Content/main.css" rel="stylesheet" type="text/css">
	<script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>

<body>
	<table class="sortable">
		<tr>
			<th>@PageItems.ResourceManager.GetString("Date")</th>
			<th>@PageItems.ResourceManager.GetString("Category")</th>
			<th>@PageItems.ResourceManager.GetString("Building")</th>
			<th>@PageItems.ResourceManager.GetString("Location")</th>
			<th>@PageItems.ResourceManager.GetString("Status")</th>
		</tr>

		@foreach (var report in Model)
		{
			<tr>
				<td>@report.Created.ToString("ddd d MMM HH:mm")</td>
				<td>
					<a href="@Url.Action("Details", new { id= report.Id })">
						@Categories.ResourceManager.GetString(report.Category)
					</a>
				</td>
				@if (report.Location != null)
				{
					<td>@DashboardHelpers.NullCheck(report.Location.Building)</td>
					<td>@DashboardHelpers.NullCheck(report.Location.Description)</td>
					<td>@*Statuses.ResourceManager.GetString("Status" + report.CurrentStatus.ToString())*@open</td>
				}
			</tr>
		}
	</table>
</body>
</html>