@model IEnumerable<Lisa.Kiwi.WebApi.Report>
@{
    Layout = null;
}

<!doctype html>

<html>
<head>
    <title>Leerpark</title>
    <link href="~/Content/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <table>
        <tr>
            <th>Datum</th>
            <th>Categorie</th>
            <th>Gebouw</th>
            <th>Locatie</th>
            <th>Status</th>
        </tr>

        @foreach (var report in Model)
        {
            <tr>
                <td>
                    @report.Created.ToString("ddd d MMM HH:mm")
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id= report.Id })"> 
                    @Resources.Categories.ResourceManager.GetString(report.Category)
                    </a>
                </td>
                <td>@report.Location.Building</td>
                <td>@report.Location.Description</td>
                <td>@Resources.Statuses.ResourceManager.GetString("Status"+report.CurrentStatus.ToString())</td>
            </tr>
        }
    </table>
</body>
</html>