@model IEnumerable<Lisa.Kiwi.WebApi.Perpetrator>

@if (Model != null && Model.Any())
{
	<fieldset class="summary">
		<legend>@Resources.Perpetrator.Perpetrators</legend>
		<ul>
			@foreach (var perp in Model)
			{
				<li>
					@perp.Name, 
					@String.Format("{0}-{1} jaar", perp.MinimumAge, perp.MaximumAge), 
					@Sex.ResourceManager.GetString(perp.Sex.ToString()),
					kleding: @perp.Clothing,
					andere kenmerken: @perp.UniqueProperties
				</li>
			}
		</ul>
	</fieldset>
}