	@using Microsoft.Ajax.Utilities	@model IEnumerable<Lisa.Kiwi.WebApi.Perpetrator>

@if (Model != null && Model.Any())
{
	<fieldset class="summary">
		<legend>@Lisa.Kiwi.Web.Resources.Perpetrator.Perpetrators</legend>
		<ul>
			@foreach (var perp in Model)
			{
				<li>
					@{
						if (!perp.Name.IsNullOrWhiteSpace())
						{
							<text>@perp.Name,</text>
						}
					} 
					@String.Format("{0}-{1} jaar", perp.MinimumAge, perp.MaximumAge), 
					@Sex.ResourceManager.GetString(perp.Sex.ToString()),
					@{
						if (!perp.Clothing.IsNullOrWhiteSpace())
						{
							<text>kleding: @perp.Clothing,</text>
						}
						if (!perp.UniqueProperties.IsNullOrWhiteSpace())
						{
							<text>andere kenmerken: @perp.UniqueProperties</text>
						}
					}
				</li>
			}
		</ul>
	</fieldset>
}