@model OriginalReport
@{
    ViewBag.Title = "Bevestigd";
    var contact = (ContactMetadata)ViewBag.Contact;
    string type = Model.Type;
}


<div class="center-box">
    <div class="row">
        <div class="col-xs-12">
            <h2>Bevestigd</h2>
            <div class="form-group">
                <p>Bedankt voor de melding.</p>
            </div>
        </div>
        <div class="col-xs-12 left">
            <h4>Details</h4>
            <div class="form-group">
                <label class="col-xs-12 control-label">Type melding</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@type</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">Locatie</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@Model.Location</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">Tijdstip</label>
                <div class="col-xs-12">
                    <p class="form-control-static convertTime">@Model.Time.ToString("yyyy-MM-dd HH:mm:ss")</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">Beschrijving</label>
                <div class="col-xs-12">
                    <p class="form-control-static">@Model.Description</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 right">
            @if (contact != null)
            {
                <h4>Contactgegevens</h4>
                <div class="form-group">
                    <label class="col-xs-12 control-label">Naam</label>
                    <div class="col-xs-12">
                        <p class="form-control-static">
                            @if (contact.Name == null)
                            {
                                <span>n.v.t</span>
                            }
                            else
                            {
                                <span>@contact.Name</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 control-label">E-mail adres</label>
                    <div class="col-xs-12">
                        <p class="form-control-static">
                            @if (contact.Email == null)
                            {
                                <span>n.v.t</span>
                            }
                            else
                            {
                                <span>@contact.Email</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 control-label">Telefoonnummer</label>
                    <div class="col-xs-12">
                        <p class="form-control-static">
                            @if (contact.PhoneNumber == null)
                            {
                                <span>n.v.t</span>
                            }
                            else
                            {
                                <span>@contact.PhoneNumber</span>
                            }
                        </p>
                    </div>
                </div>
            }

        </div>
        <div class="clear"></div>
        <div class="col-xs-12">
            <p>@Html.ActionLink("Ga terug naar de startpagina", "Type", "Report", null, new { @class = "btn btn-default btn-report" })</p>
        </div>
    </div>
</div>

<script>
    var timeClass = $('.convertTime');
    var m = timeClass.text().match(/(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})/);

    var date = new Date(Date.UTC(m[1], (m[2] - 1), m[3], m[4], m[5], m[6]));
    var options = { weekday: 'short', day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
    var newTime = date.toLocaleString('nl-NL', options);

    timeClass.text(newTime);
</script>